<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>699264955958-41f30b1mvfo5gjhf87jsiii170hg9lkh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAli-lPoky9wFdYLfKUY-AdYa9V1ay2pf8</string>
	<key>GCM_SENDER_ID</key>
	<string>699264955958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.milktonExecutive.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dragonfly-fcb50</string>
	<key>STORAGE_BUCKET</key>
	<string>dragonfly-fcb50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699264955958:ios:68671af0162aeedc050a97</string>
</dict>
</plist>